<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <!-- <meta http-equiv="refresh" content="30"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <title>{{ title }}</title>
    {% endblock %}
</head>
<body>
<div class="page">
    <div class="vertical-menu">
        <img src="{{ url_for('static', filename='sdp-logo.svg') }}" width="128" height="128" alt="SDP logo">
        <a href="db-list">List View</a>
        <a href="db-tree">Tree View</a>
        <a href="scripts">Scripts</a>
    </div>
    <div class="main-contents">
        <h1>{{ title }}</h1>
    {% block content %}
    {% endblock %}
    </div>
</div>
</body>
</html>

